<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
> 
	<display-name>Symmetry HelloWorld Demo</display-name>
	<description>Symmetry HelloWorld Demo</description>

	<servlet>
		<servlet-name>SymmetryServlet</servlet-name>
		<servlet-class>org.hobsoft.symmetry.http.SymmetryServlet</servlet-class>
		<init-param>
			<param-name>componentClassName</param-name>
			<param-value>org.hobsoft.symmetry.demo.helloworld.HelloWorldWindow</param-value>
		</init-param>
		<init-param>
			<param-name>peerManagerClassName</param-name>
			<param-value>${peerManagerClassName}</param-value>
		</init-param>
		<init-param>
			<param-name>renderKitClassName</param-name>
			<param-value>${renderKitClassName}</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SymmetryServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
